/*-- scss:rules --*/

.page-contact__body {
  max-width: $layout-container-max-narrow;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 4rem;
  align-items: start;

  @media (max-width: $bp-md) {
    grid-template-columns: 1fr;
    gap: 2.5rem;
    margin: 2.5rem auto;
    padding-inline: 1.5rem;
  }
}

.page-contact__title {
  font-weight: $font-weight-bold;
  color: $color-text-highlight;
  margin: 0 0 1.5rem;
}

.page-contact__desc {
  font-size: $font-size-sm;
  color: $color-text-light;
}

.page-contact__form-field {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-bottom: 1rem;

  label {
    font-size: $font-size-sm;
    font-weight: $font-weight-demibold;
    letter-spacing: $font-letterspacing-wide;
    color: $color-text-light;
  }

  input[type="text"], input[type="email"], textarea {
    @include text-input;

    border-radius: $layout-border-radius-small;
  }

  textarea {
    min-height: 130px;
  }
}

.page-contact__form-required {
  color: $color-accent-primary;
}

.page-contact__form-error {
  font-size: $font-size-sm;
  color: $color-attention-alert;
  margin: 0.5rem 0 0;
}
