/*-- scss:rules --*/

.page-display-support__media {
  width: 75%;
  height: auto;
  margin-inline: auto;
  object-fit: cover;
  display: block;
  border-radius: $layout-border-radius;
  border: 1px solid $color-border-faint;
  margin-bottom: 2.5rem;
}

.page-display-support__media--square {
  width: min(100%, 80vh);
  height: auto;
  aspect-ratio: 1 / 1;
  margin-inline: auto;
}

.page-display-support__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;

  @media (max-width: $bp-md) {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
