/*-- scss:rules --*/

//
// A list of rich items that include an image, title, tags, a tagline and a description
//
.rich-list__item {
  display: grid;
  grid-template-columns: 45% 1fr;
  gap: 3rem;
  padding: 2.5rem 0;

  & + & {
    border-top: 1px solid $color-border-faint;
  }

  @media (max-width: $bp-md) {
    grid-template-columns: 1fr;
    gap: 1.25rem;
  }
}

.rich-list__title {
  color: $color-text-highlight;
  letter-spacing: $font-letterspacing-narrow;
  margin: 0 0 0.35rem;
}

.rich-list__image {
  width: 100%;
  aspect-ratio: 9 / 4;
  object-fit: cover;
  border-radius: $layout-border-radius;
}

.rich-list__meta {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.rich-list__number {
  @include eyebrow-label($fontsize: $font-size-2xs);

  color: $color-accent-primary;
  font-weight: $font-weight-demibold;
}

.rich-list__tag {
  @include eyebrow-label($fontsize: $font-size-2xs);

  color: $color-text-light;
}

.rich-list__tagline {
  font-size: $font-size-sm;
  color: $color-text-light;
  font-family: $font-monospace;
  letter-spacing: $font-letterspacing-wide;
  margin: 0 0 0.85rem;
}
